body {
    margin: 0;
}
.block1 {
    background-image: url("img/block1/Bg1.png");
    width: 100%;
    height: 1000px;
    position: relative;
}
.logo {
    float: left;
    margin-left: 200px;
    margin-top: 100px;
}
.menuimg {
    float: right;
    margin-right: 200px;
    margin-top: 100px;
}
.hello1 {
    font-size: 50px;
    font-family: 'Lucida Sans', sans-serif;
    color: #464646;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.hello2 {
    font-size: 50px;
    font-family: 'Lucida Sans', sans-serif;
    color: #464646;
    position: absolute;
    top: 48%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.snopno {
    background-color: turquoise;
    padding: 6px;
}
.cont {
    position: absolute;
    top: 77%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-bottom: black;
    color: #464646;
    font-family: Verdana, sans-serif;
    font-size: 25px;
    background-color: rgba(0, 50, 50, 0);
    border-color: #464646;
    border-style: solid;
    border-width: 2px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.cont:hover {
    background-color: turquoise;
}
.glass {
    float: right;
    margin-right: 0;
    margin-top: 740px;
}
.block2 {
    background-image: url("img/block2/Bg2.png");
    width: 100%;
    height: 1000px;
    position: relative;
}
.about {
    font-size: 40px;
    font-family: 'Lucida Sans', sans-serif;
    color: black;
    float: left;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.lorem {
    font-size: 20px;
    font-family: #464646;
    color: #464646;
    float: left;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.zakreslom {
    width: 482px;
    height: 392px;
    background-color: rgb(230, 230, 230);
    margin-left: 201px;
    margin-top: 370px;
    float: left;
}
.kreslo {
    box-shadow: 0 0 10px rgba(83, 83, 83, 0.5);
    position: absolute;
    float: left;
    margin-left: 246px;
    margin-top: 350px;
}
.perek {
    position: absolute;
    float: left;
    margin-left: 413px;
    margin-top: 872px;
}
.zag21 {
    position: absolute;
    float: right;
    top: 335px;
    right: 250px;
    font-size: 23px;
    font-weight: bold;
    color: #464646;
}
.abz21 {
    position: absolute;
    float: right;
    width: 460px;
    text-align: justify;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 16px;
    color: #757575;
    right: 226px;
    top: 392px;
    line-height: 25px;
}
.abz22 {
    position: absolute;
    float: right;
    width: 460px;
    text-align: justify;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 16px;
    color: #757575;
    right: 226px;
    top: 550px;
    line-height: 25px;
}
.zag22 {
    position: absolute;
    float: right;
    top: 635px;
    right: 448px;
    font-size: 18px;
    font-weight: bold;
    color: #464646;
}
.abz23 {
    position: absolute;
    float: right;
    width: 460px;
    text-align: justify;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 16px;
    color: #757575;
    right: 226px;
    top: 685px;
    line-height: 25px;
}
.abz24 {
    position: absolute;
    float: right;
    width: 460px;
    text-align: justify;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 16px;
    color: #757575;
    right: 226px;
    top: 735px;
    line-height: 25px;
}
.block3 {
    background-color: white;
    width: 100%;
    height: 1200px;
    position: relative;
}
.blimg1 {
    float: left;
    margin-left: 200px;
    position: absolute;
    margin-top: 350px;
}
.img1 {
    width: 360px;
    height: 360px;
}
.img2 {
    width: 360px;
    height: 360px;
    margin-left: 15px;
}
.img3 {
    width: 360px;
    height: 360px;
    margin-left: 15px;
}
.blimg2 {
    float: left;
    margin-left: 200px;
    position: absolute;
    margin-top: 730px;
}
.img4 {
    width: 360px;
    height: 360px;
}
.img5 {
    width: 360px;
    height: 360px;
    margin-left: 15px;
}
.img6 {
    width: 360px;
    height: 360px;
    margin-left: 15px;
}
.block4 {
    background-image: url("img/block1/Bg1.png");
    width: 100%;
    height: 1800px;
    position: relative;
}
.bl41 {
    float: left;
    margin-left: 200px;
    position: absolute;
    margin-top: 350px;
}
.bl411 {
    float: left;
    width: 657px;
    height: 438px;
    background-color:  turquoise;
}
.serv {
    margin-top: 50px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
}
.servA {
    margin-top: 50px;
    margin-left: 50px;
    font-size: 17px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    width: 470px;
    color: #464646;
}
.krest {
    margin-left: 70px;
    margin-top: 70px;
}
.img42 {
    float: left;
    width: 438px;
    height: 438px;
    margin-left: 10px;
}
.bl412 {
    position: absolute;
    width: 438px;
    height: 438px;
    margin-left: 677px;
    background-color: rgba(0, 0, 0, 0.5);;
}
.zag42 {
    position: absolute;
    top: 200px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.abz42 {
    position: absolute;
    top: 240px;
    margin-left: 50px;
    font-size: 17px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    width: 300px;
    color: white;
}
.know {
    position: absolute;
    margin-left: 50px;
    top: 330px;
    text-decoration: none;
    color: white;
}
.strela {
    float: left; 
    position: absolute;
    top: 350px;
    left: 200px;
}
.bl42 {
    float: left;
    margin-left: 200px;
    margin-top: 805px;
}
.img43 {
    float: left;
    width: 657px;
    height: 438px;
}
.bl412b {
    position: absolute;
    width: 657px;
    height: 438px;
    background-color: rgba(0, 0, 0, 0.5);
}
.abz42b {
    position: absolute;
    top: 240px;
    margin-left: 50px;
    font-size: 17px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    width: 410px;
    color: white;
}
.bl43 {
    position: absolute;
    float: left;
    margin-left: 200px;
    margin-top: 1260px;
}
.bl13b {
    position: absolute;
    width: 657x;
    height: 438px;
    margin-left: 677px;
    background-color: rgba(0, 0, 0, 0.5);;
}
.bl13m {
    position: absolute;
    width: 438px;
    height: 438px;
    background-color: rgba(0, 0, 0, 0.5);
}
.img45 {
    float: left;
    width: 438px;
    height: 438px;
}
.img46 {
    float: left;
    width: 657px;
    height: 438px;
    margin-left: 10px;
}
.bl43b {
    position: absolute;
    width: 657px;
    height: 438px;
    margin-left: 458px;
    background-color: rgba(0, 0, 0, 0.5);
}
.bl43m {
    position: absolute;
    width: 438px;
    height: 438px;
    background-color: rgba(0, 0, 0, 0.5);
}